<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.youxing.momia">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme"
        android:name=".app.TQApplication">

        <activity
            android:name=".pay.CashierActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="tq" android:host="home"/>
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".pay.CashierActivity"-->
            <!--android:label="收银台">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="tq" android:host="cashier"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->

    </application>

</manifest>
